<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-dark">
    <a class="nav-item" href="/home">Home</a>
    <a class="nav-item" href="/newStudent">New Student</a>
</nav>
<div th:if="${student}">
    <form  action="/updateStudent" method="POST">
        <label for="idStudent">Id</label>
        <input readonly type="text" id="idStudent" name="idStudent" th:value="${student.idStudent}" />

        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${student.name}"/>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" th:value="${student.lastName}"/>

        <label for="phone">phone</label>
        <input type="text" id="phone" name="phone" th:value="${student.phone}" />
        <input type="submit" value="Submit"/>
    </form>
</div>

</body>
</html>